lectures/stochastic_integration.tex

irfs.csv
irfsboot.csv
.ipynb_checkpoints/
.juliahistory

auto/
.Rhistory
_region_.tex

*~
*.aux
*.bbl
*.blg
*.png
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.nav
*.nlo
*.out
*.pdf
*.pdfsync
*.ps
*.sbb
*.snm
*.synctex.gz
*.toc
*.vrb
*.maf
*.mtc
*.mtc0